.text-info label {
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
}

.text-info input {
    width: 200px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #aaa;
}

.radio-info {
    display: inline-block;
    margin-right: 10px;
}

.submit-button input {
    box-sizing: content-box;
    width: 60px;
    height: 25px;
    border-radius: 5px;
    border: 1px solid #aaa;
    font-size: 14px;
}

.radio-items {
    width: 200px;
    border: 1px solid #aaa;
    border-radius: 5px;
    height: 25px;
    line-height: 25px;
    text-align: center;
}


