.select-group label{
    display: block;
    font-size: 18px;
    margin-bottom: 5px;
}

.select-group select{
    width: 205px;
    height: 27px;
    border-radius: 5px;
    border: 1px solid #aaa;
    background: #ffffff;
    font-size: 14px;
}

.select-group select[multiple] {
   height: auto;
}
